.formTitle{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    text-align: center;
    margin: 130px 0 55px;
}

.filmTicket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 120px;
}

.filmTicketItem{
    max-width: 270px;
    width: 100%;
}

.filmTextInner{
    display: flex;
    align-items: center;
}

.formText{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right: 60px;
}

.formInnerTimeCheckbox{
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 28px;
}
.emptyRadio{
    margin: 0 auto 20px;
}
.emptyPlace{
    font-size: 24px;
    margin: 0 auto;
}
.formRadioText{
    margin: 0 5px 25px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    transition: all .5s;
}

.formSubmit{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    text-transform: capitalize;
    background-color: transparent;
    padding: 27px 0;
    color: #EF5DA8;
    border: 2px solid #EF5DA8;
    border-radius: 10px;
    transition: all .5s;
}

.formSubmit:hover{
    border: 2px solid transparent;
    color: #FFFFFF;
    background-color: #EF5DA8;
}

.formRadioText > span{
    padding: 6px 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s;
}

.formRadioText>input:checked+span{
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid #5D5FEF;
    color: #5D5FEF;
}

.formPlace{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 770px;
    width: 100%;
}

.formPlaceCheck{
    appearance: none;
    background: linear-gradient(180deg, #7879F1 0%, #A5A6F6 100%);
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 60px;
    width: 60px;
    margin: 15px;
    transition: all 1s;
    cursor: pointer;
}

.luxPlaces{
    background: linear-gradient(180deg, #bda91f 0%, #FFD700 100%);
}

.formPlaceCheck:checked{
    background: linear-gradient(180deg, #5D5FEF 0%, #5D5FEF 100%);
}

.formPlaceCheck:disabled {
    background: linear-gradient(180deg, #4B4C70 0%, #9EA0C5 100%);
    cursor: auto;
    position: relative;
}

.luxPlaces:checked{
    background: linear-gradient(180deg, #a99318 0%, #b29c06 100%);
}

.formPlaceCheck:disabled::before{
    content: '';
    position: absolute;
    background-image: url("../../imageCss/disableChecked.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.luxPlaces:disabled {
    background: linear-gradient(180deg, #917800 0%, #ffa600 100%);
    cursor: auto;
    position: relative;
}


.luxPlaces:disabled::before{
    content: '';
    position: absolute;
    background-image: url("../../imageCss/disableChecked.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.titleComment{
    margin-bottom: 30px;
}

.comments{
    margin: 20px 0;
}

.innerInfoUser{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.avatarUser{
    max-width: 50px;
    width: 100%;
    margin-right: 15px;
}

.userName{
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.userMessage{
    max-width: 970px;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    color: #4F4F4F;
}

.commentInput{
    width: 100%;
    height: 100px;
    padding: 10px;
}

.innerHoverPlace{
    position: relative;
    width: 60px;
    height: 60px;
}

.hoverText{
    position: absolute;
    background-color: #FFFFFF;
    width: 250px;
    box-shadow: 0 0 24px 12px rgba(34, 60, 80, .2);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    padding: 10px;
}

.innerHoverPlace:hover > .hoverText{
    visibility: visible;
    opacity: 1;
}