.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 770px;
    margin: 122px auto 160px;
}

.profileName{
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.profileLogout{
    background: #FFFFFF;
    border: 2px solid #EF5DA8;
    border-radius: 10px;
    padding: 16px 57px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #EF5DA8;
}