.profileSlick{
    display: flex;
    max-width: 770px;
    width: 100%;
    position: relative;
    padding: 35px 27px 35px 45px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
    margin: 35px auto;
}

.profileFilmRemoveBtn{
    position: absolute;
    padding: 0;
    border-radius: 50%;
    top: -35px;
    right: -35px;
    border: none;
    background-color: #EF5DA8;
}

.profileFilmRemove{

}

.profileListFilm{
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
}

.profileSlickSupItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profileSlickType{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.profileData{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

