
h1 {
  font-size: 48px;
  line-height: 68px;
  font-family: 'PoppinsSemiBold';
  color: #000000;
  margin: 0;
}
h2 {
  font-size: 33px;
  line-height: 52px;
  font-family: 'PoppinsBold';
  margin: 0;
}
h5 {
  font-size: 15px;
  line-height: 22px;
  font-family: 'PoppinsMedium';
  margin: 0;
}
h4 {
  font-size: 17px;
  line-height: 24px;
  font-family: 'PoppinsMedium';
  color: #fff;
  margin: 0;
}
p{
  margin: 0;
  color: #000000;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.layoutWrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container  {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.homeSlider .slick-dots{
  bottom: -45px;
  width: initial;
  right: 5%;
}

.slick-dots li{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 2px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button{
  font-size: 0;
  line-height: 0;
  display: block;
  width: 70px;
  height: 2px;
  cursor: pointer;
  padding: 0;
  border: 0;
  outline: none;
  background: #E5E5E5;
}

.slick-dots .slick-active button{
  background-color: #000000;
}

.slick-dots li button::before{
  content: '';
}

