
h1 {
  font-size: 48px;
  line-height: 68px;
  font-family: 'PoppinsSemiBold';
  color: #fff;
  margin: 0;
}
h2 {
  font-size: 33px;
  line-height: 52px;
  font-family: 'PoppinsBold';
  margin: 0;
}
h5 {
  font-size: 15px;
  line-height: 22px;
  font-family: 'PoppinsMedium';
  margin: 0;
}
h4 {
  font-size: 17px;
  line-height: 24px;
  font-family: 'PoppinsMedium';
  color: #fff;
  margin: 0;
}
p{
  margin: 0;
}
.App {
  min-height: 100vh;
}
.layoutWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.container  {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

